/* Los estilos de tu proyecto */
.container-car{
  background-image: url(../assets/images/taxi.jpg);
  background-size: 100%;
  background-position-y: 93%;
  height: 70vw;
}
.idealColor{
  background-color: #f7b617;
  color: white;
}

.container-iphone{
  /* height: 43vw; */
}
.around{
  /* height: 34vw;  */
  border: 1px solid white;
}

.imageIphone{
  width: 100%;
}
.container-driver{
  background-image: url(../assets/images/conduce.jpg);
  background-size: 100%;
  background-position-y: 50%;
  color: white;
  background-repeat: no-repeat;
  /* height: 450px; */
  height: 60vw;
}
.divTransparent{
  background-color: rgba(7, 7, 7, 0.486);
}

.container-map{
  height: 100vh;
}


.lastSection{
  height: 100vh;
  background-color: #2B2B2B; 
  color: white;
}
footer ul{
  list-style: none;
}
footer a{
  color: white;
}
footer a:hover{
  color: #f7b617;
  text-decoration: none;
}
