/* Los estilos de tu proyecto */
.header-nav{
  height: 20vh;
}
.container-car{
  background-image: url(../assets/images/taxi.jpg);
  background-size: 100%;
  background-position-y: 100%;
  height: 150vh;
}
.idealColor{
  background-color: #f7b617;
  color: white;
}
.minibox{
  height: 45vh;
}
.around{
  border: 1px solid white;
}
.imageIphone{
  width: 100%;
}
.container-driver{
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position-y: 50%;
  color: white;
  background-repeat: no-repeat;
  height: 70vh;
}
.divTransparent{
  background-color: rgba(7, 7, 7, 0.486);
  height: 70vh;
}
::-ms-input-placeholder{
  color: #fff;
}
.container-map{
  height: 100vh;
}
.lastSection{
  height: auto;
  background-color: #2B2B2B; 
  color: white;
}
footer ul{
  list-style: none;
}
footer a{
  color: white;
}
footer a:hover{
  color: #f7b617;
  text-decoration: none;
}
@media screen and (max-width: 576px){
  .header-nav{
    height: 10vh;
  }
  .container-car{
    background-image: url(../assets/images/taxi.jpg);
    background-size: 100% 100%;
    height: 70vh;
  }
  .container-driver{
    height: 60vh;
  }
  .divTransparent{
    height: 60vh;
  }
  .container-map{
    height: 120vh;
  }
  .map{
    width: 90%;
    height: 40vh;
  }
  .lastSection{
    height: 120vh;
  }
}