/* Los estilos de tu proyecto */
.container-car{
  background-image: url(../assets/images/taxi.jpg);
  /* background-position:  */
  height: 750px;
}
.idealColor{
  background-color: #f7b617;
  color: white;
}
.imageIphone{
  background-image: url(../assets/images/iPhone6Plus.png);
  /* height: 400px; */
}
.container-driver{
  background-image: url(../assets/images/conduce.jpg);
  height: 450px;
  color: white;
}